<div>
<h3>Signed in as : <em><%= @user.username %></em></h3>
<button class="btn btn-info navigation"><%= link_to h("Back to feed"), "/user/#{@user.id}/index" %></button>
</div>

<div>
  <h3>Bookmarked:</h3>
  <ul>
  <% for entry in @entries %>
    <li class="well well-sm"><%= link_to h(entry.name), entry.url %></li>
  <% end %>
  </ul>
</div>