<div id="tech_posts">
  <h3>Reddit Technology</h3>
  <ul>
  <% for entry in Entry.all.limit(10).order(:published_at => 'desc') %>
    <li><%= link_to h(entry.name), entry.url %></li>
  <% end %>
  </ul>
</div>
