<div id="tech_posts">
  <h3>Reddit Technology</h3>
  <ul>
  <% for entry in Entry.all.limit(10).order(:published_at => 'desc') %>
    <li><%= link_to h(entry.name), entry.url %></li>
  <% end %>
  </ul>
</div>

<script>
  var refreshFeed = function () {
    $.ajax({
        url: '/entries',  //Server script to process data
        type: 'GET',
        dataType: 'json',
        //Ajax events
        success: function (data) {
          $('#tech_posts ul').empty();
          data.entries.forEach(function (data) {
            $('#tech_posts ul').append(
              $('<li>').append(
                $('<a>').attr('href',data.url).append(data.name)
            ));
          });
        },
        error: function () {
            console.log("oops");
        }
    });
  };

  $(document).ready(setInterval(refreshFeed, 60000));
</script>