<div class="login">
<h1 class="text-center">Login to save your bookmarks</h1>
  <form method="post" action="/login">
    <p class="text-center"><input type="text" name="username" value="" placeholder="Username"></p>
    <p class="submit text-center"><input type="submit" class="btn btn-primary"></p>
  </form>
</div>